@font-face {  src: url("assets/fonts/Font A.ttf");
    font-family: font-simple;
}
@font-face {  src: url("assets/fonts/Font B.ttf");
    font-family: font-vis;
}

* {
     margin: 0;
    padding: 0;
    ;
    font-family: font-simple, sans-serif;
}

hr {
    margin: 5px 0;
}

.no-style {
    list-style: none;
}

.font-vis {
    font-family: font-vis, sans-serif;
    font-size  : 16px;
}

.shadow-simple {
    box-shadow: 0 0 10px #adadad;
}

/**/

#header-link {
    position: absolute;
         top: 0;
}

.header-container {
    position: fixed;
       right: 0;
        left: 0;
         top: 0;
    ;
    height: 68px;
    ;
     margin: 7px 7px 0;
    padding: 10px;
    ;
    text-align: center;
    ;
    background-color: #fdfdfd;
    ;
    border       : 1px solid #868686;
    border-radius: 20px 0 20px 0;
}

.header-author {
    color: #d09292;
}

/**/

.articles-navigation {
         width: 200px;
    min-height: 150px;
    ;
     margin: 105px 7px 50px;
    padding: 10px 30px;
    ;
    background-color: #fdfdfd;
    ;
    border       : 1px solid #868686;
    border-radius: 0 0 20px 20px;
}

.article-reference {
    text-decoration: none;
        font-weight: bold;
          font-size: 17px;
    ;
    color: #a274a2;
}
.article-reference:hover {
    font-size: 20px;
    ;
    color: #8d8dd9;
}

.about-us-reference {
    text-decoration: none;
          font-size: 20px;
        font-weight: bolder;
    ;
    color: #a274a2;
}
.about-us-reference:hover {
    font-size: 25px;
;
    color: #8d8dd9;
}

/**/

.articles-title {
    margin-bottom: 10px;
    ;
          font-size: 75px;
    text-decoration: underline;
    text-align     : center;
}

.article-container {
    ;
    padding: 5px 30px;
     margin: 0 17vw 10px 17vw; /* Width: 66 or 2/3 PageWidth */
    ;
    text-align: center;
    ;
    border: 1px solid #868686;
}


.article-type-a {
    border-radius: 30px 30px 0 0;
}

.article-type-b {
    border-radius: 0 0 0 0;
}

.article-type-c {
    border-radius: 0 0 30px 30px;
}

.article-image {
     width: 30vw;
    height: 100%;
    ;
    margin-right: 25px;
}

.article-content {
    display: flex;
      width: 100%;
    ;
    align-items: center;
    ;
    white-space: normal;
}

.article-title {
    display: block;
    ;
    margin: 15px;
    ;
     text-align: center;
    font-weight: bolder;
    ;
    color: #d092cf;
}

.article-description {
    text-align: left;
}

.article-back {
     width: 30px;
    height: 30px;
    ;
    margin-top: 20px;
}

/**/

.footer-container {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.about-us-title {
    margin: 35px 0 10px;
    ;
          font-size: 30px;
    text-decoration: underline;
}

.about-us {
    display: inline-block;
    ;
     width: 375px;
    height: 70px;
    ;
    padding: 20px 0 20px 0;
     margin: 0 7px 7px 7px;
    ;
    background-color: #fdfdfd;
    ;
    border       : 1px solid #868686;
    border-radius: 20px 20px 0 20px;
}

/**/

.contact-information {
    font-family: font-vis, sans-serif;
    font-size  : 17px;
    ;
    text-align: center;
    ;
    list-style: none;
}

.email {
    font-family: font-vis, sans-serif;
    font-size  : 16px;
    ;
    text-decoration: none;
    color          : inherit;
}
.email:hover {
    padding-left: 0;
    ;
    font-weight: bolder;
    font-size  : 18px;
    color      : #a274a2;
    ;
    text-align: center;
}