[submodule "Python/EasyLang"]
	path = Python/EasyLang
	url = .\\Python\\EasyLang\\
[submodule "Python/ColorRecognition"]
	path = Python/ColorRecognition
	url = .\\Python\\ColorRecognition\\
[submodule "C++/Sentinel"]
	path = C++/Sentinel
	url = .\\C++\\Sentinel\\
[submodule "C++/Dongle"]
	path = C++/Dongle
	url = .\\C++\\Dongle\\
[submodule "Web/Assignments"]
	path = Web/Assignments
	url = .\\Web\\Assignments\\
