* {
  padding : 0;
  margin  : 0;

  user-select : none;

  font-family : system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  cursor : pointer;

  color           : #06c;
  text-decoration : none;
}

ul li {
  list-style : none;
}

.flex {
  display : flex;
}

.fixed {
  position : fixed;
}

.grid {
  display : inline-grid;
  width   : 100%;
}

.root {
  z-index : -100;

  position  : absolute;
  min-width : 800px;
  max-width : 3000px;
  width     : 100%;
  left      : 50%;
  transform : translateX(-50%)
}

.columns-list .column:not(:last-of-type) {
  margin-right : 20px;
}

.highlight {
  color     : #737376;
  font-size : 1.1em;
}

.center {
  width  : 100%;
  height : 100%;
  /* apply vertically center */
  vertical-align : middle;
  align-items    : center;
  /* apply horizontally center */
  text-align      : center;
  justify-content : center;
}

.top-panel {
  width  : 100%;
  height : 44px;

  background-color : black;
}

.top-panel > .navbar {
  display : flex;
  height  : 100%;
}

.top-panel > .navbar .navigation {
  height : 100%;
}

.top-panel > .navbar .navigation img {
  height : 100%;
}

.navigation-list {
  width  : 1000px;
  height : 45%;

  padding : 0 1vw;

  grid-template-columns : repeat(11, minmax(0, 1fr));
}

.navigation {
  display : inline-flex;
  height  : 100%;

  text-align      : center;
  justify-content : center;
}

.navigation img {
  height : 20px !important;
}

.navigation .text {
  color     : #D8D8D8;
  font-size : 0.92em;
}

.hover-bolder {
  transition : color 0.3s ease-out, font-size 0.2s ease-out;
}

.hover-bolder:hover {
  height : 22px !important;

  color     : #FFFFFF;
  font-size : 0.95em;
}

.content {
  width  : 100%;
  height : 100%;

  padding-top : 44px;
}

.announce {
  width : 100%;

  padding : 10px 0;

  background-color : #F8F8F8;

  font-size : 0.92em;
}

.cards-list {
  width : 100%;
}

.cards-list .item {
  margin-bottom : 10px;
}

.cards-grid {
  width : 100%;
  /* https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid */
  grid-template-columns : repeat(2, minmax(0, 1fr));
}

.cards-grid.columns-list .column:first-of-type {
  margin-left : 10px;
}

.cards-grid.columns-list .column {
  margin-right : 10px;
}

.cards-grid .card {
  font-size: 0.7em;

  background-color : #FAFAFA;
  border-radius    : 15px;
}

.cards-grid .card:hover {
  background-color : #F5F5F5;
}

.card {
  width  : 100%;
  height : 580px;

  overflow : hidden;

  cursor : pointer;
}

.card .header {
  padding-top    : 60px;
  padding-bottom : 40px;
}

.card > .header > .title {
  font-size   : 3.3em;
  font-weight : bolder;
}

.card > .header > .description {
  font-size : 1.6em;
}

.card > .header > .links {
  padding-top : 10px;

  font-size : 1.2em;
}

.card > .header > .links a:not(:last-of-type) {
  margin-right: 40px;
}

.bottom-panel {
  background-color : #F8F8F8;

  padding : 3vh 13vw;
}

.bottom-panel .spacer {
  height : 1px;

  border           : none;
  background-color : #d2d2d7;

  margin : 20px 0;
}

.abouts-list {
  color     : #737376;
  font-size : 0.9em;
}

.abouts-list .about:not(:last-of-type) {
  margin-bottom : 13px;
}

.another .columns-list {
  margin-bottom : 40px;

  grid-template-columns : repeat(5, minmax(0, 1fr));;
}

.abouts-list li {
  list-style : none;
}

.another-list {
  padding-bottom : 17px;
}

.another-list .title {
  font-weight : bold;
}

.another-list .another {
  padding : 7px 0;
}

.another-list .another a {
  color : #555558;
}

.another-list .another a:hover {
  color : #06c;
}